*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto Slab', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #2d2d2d;

    --clr-gradient1: #ee7752, #e73c7e, #1887af, #08b48c;

    --clr-accent: #f6d32d;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --boxshadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media(min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}

/* General styles */

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

@media(max-width:800px){
    section{
        padding: 1em 2em;
    }
}

a{
    text-decoration: none;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

strong {
    font-weight: var(--fw-bold);
}

.btn {
    display: inline-block;
    padding: .5em 2em;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* header */
.nav-link{
    color: var(--clr-light);
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 0.25em 1em;
}
.nav-bar-mobile{
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1em 0.3em 1em;
    color: var(--clr-light);
    margin-bottom: 0em;
}
.nav-bar-mobile-left{
    position: relative;
    top: -.15em;
}
.material-symbols-rounded.size{
    font-size: 2.2em;
    position: relative;
    top: -.03em;
}
.nav-bar-mobile-icon{
    font-size: 40px;
    position: relative;
    top: .2em;
    color: var(--clr-accent);
}
.nav-bar-mobile-icon-label{
    position: relative;
    bottom: -.1em;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 1.2em;
}
.nav-bar{
    background-color: var(--clr-dark);
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: auto 2em;
}

.intro--socials{
    display: flex;
    justify-content: center;
    margin-top: .5em;
    margin-right: 1em;
}

.icon{
    height: 40px;
    text-decoration:none;
}

.nav-links{
    margin-right: 1em;
}
.my-works-nav{
    margin-left: 1.5em;
}
.nav-link-directories{
    display: flex;

}
.nav-link-directory-seperator{
    color: var(--clr-light);
    text-align: left;
    height: 100%;
    letter-spacing: .025em;
    margin-top: .25em;
    padding: 0.25em 0em 0.25em 0.5em;
}
.nav-link-directory{
    height: 100%;
    letter-spacing: .025em;
    margin-top: .25em;
    padding-right: 0em;
}
.nav-link-directory-seperator+.nav-link-directory{
    padding-left: 0.3em;
}

.nav-link-directory::after {
    content: '';
    display: block;
    height: .05em;
    width: calc(100%);
    margin: 0.1em auto;
    background-color: var(--clr-accent);
}

.nav-link-main{
    border-bottom: 3px;
}

.nav-link-main::after {
    content: '';
    display: block;
    height: .05em;
    width: calc(100% - 2.5em);
    position: relative;
    right:1.325em;
    margin: 0.1em auto;
    background-color: var(--clr-accent);
}
@media(max-width:800px){
    .nav-bar{
        display: none;
    }
}
@media(min-width:800px){
    .nav-bar-mobile{
        display: none;
    }
}




/* Main */

main{
    background: linear-gradient(-45deg, var(--clr-gradient1));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    justify-content: center;
    padding: auto;
}
.experiment-section{
    max-width: 1400px;
    margin: auto;
    padding: auto 0;
}
.experiments-head{
    max-width: 1100px;
    justify-content: center;
    margin: auto;
}
.experiment-title{
font-size: var(--fs-h2);
text-align: left;
margin-bottom: 0.4em;
}
.date-github-over-hr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experiment-title-github{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-light);
    margin: 0;
}
.title-github-icon{
    display: flex;
    align-items: center;
    height: 1.8em;
    position: relative;
    top: 0em;
}
/*.experiment-date{
    
}*/
.experiment-subtitle{
font-size: 2em ;
text-align: left;
margin-top: 1em;
margin-bottom: 1em;
}
.experiment-text{
    font-weight:var(--fw-reg);
    margin-top: 1em;
    margin-bottom: 0em;
    line-height: 1.2em;
}
.experiment-text-subtitle{
    font-size: 1.75em;
    margin-bottom: 0;
}
.experiment-text-link-reg{
    text-decoration: underline;
    color: var(--clr-light);
    font-weight: var(--fw-regular);
    margin: 0;
}
.experiment-text-link{
    text-decoration: underline;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin: 0;
}

.image-label{
    margin-bottom: 0;
}
.image{
    margin-bottom: 2em;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 30% 50%;
    }

    25% {
        background-position: 70% 50%;
    }

    50% {
        background-position: 30% 0%;
    }

    75% {
        background-position: 70% 30%;
    }

    100% {
        background-position: 30% 50%;
    }
}


/* Footer */

footer{
    background-color: var(--clr-dark);
    width: 100%;
    
    text-align: center;
    font-size: var(--fs-body);
}
.html-demo-div{
    width: 100%;
    overflow: hidden;
}
.html-demo{
    position: relative;
    background-color: #fff; 
    border: none; 
    width: 1300px;
    height: 900px;
}
@media(min-width: 390px){
.html-demo{
    top: -340px;
    left: -490px;
    transform: scale(.25,.25);
}
}
@media(min-width: 540px){
.html-demo{
    top: -290px;
    left: -420px;
    transform: scale(.35,.35);
}
}
@media(min-width: 610px){
.html-demo{
    top: -275px;
    left: -390px;
    transform: scale(.4,.4);
}
}
@media(min-width: 735px){
.html-demo{
    top: -220px;
    left: -321px;
    transform: scale(.5,.5);
}
}
@media(min-width: 950px){
.html-demo{
    top: -160px;
    left: -225px;
    transform: scale(.65,.65);
}
}
@media(min-width: 1075px){
.html-demo{
    top: -114px;
    left: -164px;
    transform: scale(.75,.75);
}
}
@media(min-width: 1200px){
.html-demo{
    top: -68px;
    left: -100px;
    transform: scale(.85,.85);
}
}
@media(min-width: 1400px){
.html-demo{
    top: 0;
    left: 0;
    transform: scale(1,1);
}
}

